<ion-view view-title="My project" ng-controller="ProjectsCtrl">
    <ion-floating-button ng-hide="editMode" click="toggleEditMode()" has-footer="false" button-color="#2AC9AA" icon="ion-edit" iconColor="#fff">
    </ion-floating-button>
    <ion-floating-button ng-show="editMode" click="toggleEditMode()" has-footer="false" button-color="#2AC9AA" icon="ion-checkmark" iconColor="#fff">
    </ion-floating-button>
  <ion-content >
      
      <div class="list card">
          <div class="bar bar-header bar-assertive"  ng-show="editMode">
              <h1 class="title">EDIT MODE</h1>
          </div>
          
          <div class="item item-divider">
              <span>Resistration No: </span>{{project._id}}
              <i id="like" ng-class="{'icon energized ion-star': project.fav, 'icon energized ion-android-star-outline': !project.fav}" ng-click="project.fav=!project.fav;updateProject();"></i>

          </div>
          <script>//console.log(location.href);</script>
          <div class="item item-avatar">
              
              <img ng-src="{{urlForImage(project.smallImage)}}" width="30" >
             
              <h2>{{project.data.make}}, {{project.data.model}}</h2>
              <p><span>Date first registered: {{project.data.dateOfFirstRegistration}}</span></p>
          </div>

          <div class="item item-body">
              
              <img ng-src="{{urlForImage(project.mainImage)}}" ng-click="addImage(urlForImage(project.mainImage))" height="200" >
              <div ng-hide="editMode">
                  <p>
                      <span>Make: </span>
                      <span>{{project.data.make}}</span>
                      <br />

                      <span>Model: </span>
                      <span>{{project.data.model}}</span>
                      <br />

                      <span>Colour: </span>
                      <span>{{project.data.colour}}</span>
                      <br />

                      <span>Fuel Type: </span>
                      <span>{{project.data.fuelType}}</span>
                      <br />
                      <span>VIN: </span>
                      <span>{{project.data.vin}}</span>
                      <br />
                  </p>
                  <h2>My Notes</h2>
                  <p>
                      <span>{{project.description}}</span>
                  </p>
              </div>
              <div ng-show="editMode">
                  <p>
                      <span>Make:</span>
                      <span >
                          <a href="#" editable-textarea="project.data.make" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{project.data.make || 'Enter Make' }}</pre>
                          </a>
                      </span> 
                      <br />

                      <span>Model: </span>
                      <span>
                          <a href="#" editable-textarea="project.data.model" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{project.data.model || 'Enter Model' }}</pre>
                          </a>
                      </span>
                      <br />

                      <span>Colour: </span>
                      <span>
                          <a href="#" editable-textarea="project.data.colour" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{project.data.colour || 'Enter Colour' }}</pre>
                          </a>
                      </span>
                      <br />

                      <span>Fuel Type: </span>
                      <span>
                          <a href="#" editable-text="project.data.fuelType" e-uib-typeahead="fuelType for fuelType in fuelTypes | filter:$viewValue | limitTo:8" onaftersave="updateProject()">
                              <pre>{{ project.data.fuelType || 'Enter Fuel Type' }}</pre>
                          </a>
                      </span>
                      <br />
                      <span>VIN: </span>
                      <span>
                          <a href="#" editable-text="project.data.vin" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{ project.data.vin || 'Enter VIN' }}</pre>
                          </a>
                      </span>
                      <br />
                  </p>
                  <h2>My Notes</h2>
                  <p>
                      <span>
                          <a href="#" editable-textarea="project.description" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{project.description || 'Enter project notes' }}</pre>
                          </a>
                      </span>
                  </p>
              </div>
             
           

                  <h2 class="item item-divider">Tax Status<span ng-class="project.taxStatus.taxClass">{{project.taxStatus.taxText}}</span></h2>
              
              <div ng-show="!editMode">
                  <p>
                      <span>Tax Status: </span>{{project.taxStatus.taxText}}<br />
                      <span>Tax Details: </span>{{project.taxDetails}}<br />
                      

                  </p>
              </div>
              <div ng-show="editMode">
                  <button class="button button-outline button-energized" ng-click="updateTax()" >
                      Update Tax Info
                  </button>
                  <h2>Or Edit Manually</h2>
                  
                      <form editable-form name="taxForm" onaftersave="saveTax()" onshow="true">
                          <span>Tax Status: </span>
                          <a href="#" editable-radiolist="project.taxStatus.taxType" e-ng-options="ts.value as ts.text for ts in taxStatuses track by ts.value">
                              {{ project.taxStatus.taxType }}
                          </a><br/>
                          <span>Tax Expiry Date: </span>
                          <span>
                              <a href="#" editable-date="project.taxStatus.taxExpiresDate" e-min-year="2015" e-max-year="{{project.maxYear}}" >
                                  {{ (project.taxStatus.taxExpiresDate | date:"dd-MM-yyyy") || 'Enter Expiry Date' }}
                              </a>
                          </span>

                          <div class="buttons">
                              <!-- button to show form -->
                              <button type="button" class="btn btn-default" ng-click="taxForm.$show()" ng-show="!taxForm.$visible">
                                  Edit
                              </button>
                              <!-- buttons to submit / cancel form -->
                              <span ng-show="taxForm.$visible">
                                  <button type="submit" class="btn btn-primary" ng-disabled="taxForm.$waiting">
                                      Save Tax Info
                                  </button>
                                  <button type="button" class="btn btn-default" ng-disabled="taxForm.$waiting" ng-click="taxForm.$cancel(); getTaxStatus(project);">
                                      Cancel
                                  </button>
                              </span>
                          </div>
                          </form>

              </div>

                  <h2 class="item item-divider">Insurance Status<span ng-class="project.insuranceStatus.insuranceClass">{{project.insuranceStatus.insuranceText}}</span></h2>

                  <div ng-show="!editMode">

                      <p>
                          <span>Insurance Provider: </span>{{project.data.insuranceDetails}}<br />
                          <span>Insurance Policy Ref: </span>{{project.data.insurancePolicyRef}}<br />
                          <span>Insurance Expiry Date: </span>{{project.data.insuranceExpiryDate | date: "dd-MM-yyyy"}}<br />


                      </p>
                  </div>
                  <div ng-show="editMode">
                      <h2>Add vehicle to existing insurance</h2>

                      <ui-select ng-model="project.insurance"
                                 theme="bootstrap"
                                 append-to-body="false"
                                 reset-search-input="true"
                                 style="width: 100%;"
                                 title="Choose an existing policy" on-select="policySelected(project.insurance)">
                          <ui-select-match placeholder="Select existing...">{{$select.selected.insuranceDetails}}</ui-select-match>
                          <ui-select-choices style="width: 100%; " repeat="insurance in insuranceList | filter: {insuranceDetails: $select.search, policyRef: $select.search} ">
                              <div ng-bind-html="insurance.insuranceDetails | highlight: $select.search"></div>
                              <small>
                                  Policy Ref: <span ng-bind-html="''+insurance.policyRef | highlight: $select.search"></span>
                                  Expiry Date: {{insurance.insuranceExpiryDate}}
                              </small>
                          </ui-select-choices>
                      </ui-select>
                        <h2>OR</h2>
                      <h2><strong>Or Add Policy...</strong></h2>
                      <span>Insurance Provider: </span>
                      <span>
                          <a href="#" editable-text="project.data.insuranceDetails" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{ project.data.insuranceDetails || 'Enter Insurance Provider' }}</pre>
                          </a>
                      </span>
                      <br />
                      <span>Insurance Policy Ref: </span>
                      <span>
                          <a href="#" editable-text="project.data.insurancePolicyRef" e-rows="7" e-cols="25" onaftersave="updateProject()">
                              <pre>{{ project.data.insurancePolicyRef || 'Enter Insurance Policy Ref' }}</pre>
                          </a>
                      </span>
                      <br />
                      <span>Insurance Expiry Date: </span>
                      <span>
                          <a href="#" editable-date="project.data.insuranceExpiryDate" e-min-year="2015" e-max-year="{{project.maxYear}}" onaftersave="updateProject()">
                              {{ (project.data.insuranceExpiryDate | date:"dd-MM-yyyy") || 'Enter Expiry Date' }}
                          </a>
                      </span>
                  </div>
                  <h2 class="item item-divider">
                      Mot Status<span ng-class="project.motStatus.motClass">{{project.motStatus.motText}}</span>
                  </h2>
                  
                      <div ng-show="!editMode">
                          <span>Mot: </span>{{project.data.motDetails}}<br />
                          <span>Latest MOT Date: </span>{{project.motTestReports[0].testDate}}<br />
                      </div>
                      <div ng-show="editMode">

                          <button class="button button-outline button-energized" ng-click="updateMOT()" ng-show="editMode">
                              Update MOT
                          </button>
                          <h2>OR</h2>
                          <h2><strong>Manually add MOT Pass</strong></h2>
                          <form editable-form name="motForm" onaftersave="saveMOT()" onshow="true">
                              <span>Passed MOT: </span>
                              <a href="#" editable-select="project.motStatus.passFail" e-ng-options="ms.value as ms.text for ms in motStatuses track by ms.value">
                                  {{ project.motStatus.passFail }}
                              </a><br />
                              <span>MOT Expiry Date: </span>
                              <span>
                                  <a href="#" editable-date="project.data.motStatus.motExpiresDate" e-min-year="2015" e-max-year="{{project.maxYear}}" onaftersave="updateProject()">
                                      {{ (project.motTestReports[0].expiryDate | date:"dd-MM-yyyy") || 'Enter Expiry Date' }}
                                  </a>
                              </span>
                              <div class="buttons">
                                  <!-- button to show form -->
                                  <button type="button" class="btn btn-default" ng-click="motForm.$show()" ng-show="!motForm.$visible">
                                      Edit
                                  </button>
                                  <!-- buttons to submit / cancel form -->
                                  <span ng-show="motForm.$visible">
                                      <button type="submit" class="btn btn-primary" ng-disabled="motForm.$waiting">
                                          Save MOT Info
                                      </button>
                                      <button type="button" class="btn btn-default" ng-disabled="motForm.$waiting" ng-click="motForm.$cancel(); getMOTStatus(project);">
                                          Cancel
                                      </button>
                                  </span>
                              </div>
                         </form>
</div>
                      
                     <p>
                      <h3 class="item item-divider">Mot Date: {{project.motTestReports[project.currentMOT].testDate}}</h3>
                      <span>Mot Reference Number: </span>{{project.motTestReports[project.currentMOT].motTestNumber}}<br />
                      <span>Mot Date: </span>{{project.motTestReports[project.currentMOT].testDate}}<br />
                      <span>Odometer Reading: </span>{{project.motTestReports[project.currentMOT].odometerReading}}<br />
                      <h2>Advisory Items</h2><br />
                      <ul class="list" style="width:100%" ng-repeat="s in project.motTestReports[project.currentMOT].advisoryItems">

                          <li class="item item-text-wrap">
                              {{s}}
                          </li>
                      </ul>
                      <h2>Failure Items</h2><br />
                      <ul class="list" ng-repeat="s in project.motTestReports[project.currentMOT].failureItems">

                          <li class="item item-text-wrap">
                              {{s}}
                          </li>
                      </ul>
                      <a ng-hide="(project.currentMOT === (project.motTestReports.length -1))" class="button icon-left ion-chevron-left button-clear button-dark" ng-click="previous()">Older</a>
                      <a ng-hide="(project.currentMOT === 0)" class="button button-clear button-dark" ng-click="latest()">Latest</a>
                      <a ng-hide="(project.currentMOT === 0)" class="button icon-right ion-chevron-right button-clear button-dark" ng-click="next()">Newer</a>

                  </p>
                  <p>

                      <button class="button button-outline button-energized" ng-click="removeProject()" ng-show="editMode">
                          Remove Project
                      </button>


                  </p>
              </div>
          <div class="item item-divider">
               
          </div>

      </div>
      <script id="modal.html" type="text/ng-template">
          <div class="modal" ng-click="closeModal()">
              <ion-content>
                  <img ng-src="{{imgUrl}}" class="modalImg"  />
                  <p>{{imgUrl}}</p>
              </ion-content>
          </div>
      </script>
  </ion-content>

</ion-view>
